### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [146]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data['Price'] = purchase_data['Price']
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [123]:
player_list = purchase_data['SN'].unique()
num_players = len(player_list)
print('Total Players: ', num_players)

Total Players:  576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [124]:
num_items = len(purchase_data['Item ID'].unique())
num_transactions = len(purchase_data['Purchase ID'])
average_price = purchase_data['Price'].sum() / num_transactions
average_price = "{:,.2f}".format(average_price)
total_revenue = purchase_data['Price'].sum()
summary_data = {'Total Items':[num_items], 'Average Price':[average_price], 'Total Transactions':[num_transactions], 'Total Revenue':[total_revenue]}
summary_df = pd.DataFrame(summary_data, columns=['Total Items','Average Price','Total Transactions','Total Revenue'])
summary_df

   Total Items Average Price  Total Transactions  Total Revenue
0          179          3.05                 780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [125]:

filter_df = purchase_data.drop_duplicates(subset=['SN'])
grouped_df = filter_df.groupby(['Gender'])
gender_data = grouped_df['SN'].count()
data = [gender_data[0], gender_data[1], gender_data[2]]
gender_df = pd.DataFrame(data,columns=['Total Count'],)
index = pd.Index(['Female', 'Male', 'Other / Non-Disclosed'])
gender_df = gender_df.set_index(index)
gender_df['Percentage of Players'] = gender_df['Total Count'] / 576
gender_df['Percentage of Players'] = gender_df['Percentage of Players'].map('{:,.2%}'.format)
gender_df

                       Total Count Percentage of Players
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [144]:
gen_df = purchase_data.groupby(['Gender'])
gen_data = gen_df['Purchase ID'].count()
data = [gen_data[0], gen_data[1], gen_data[2]]
purchase_df = pd.DataFrame(data,columns=['Purchase Count'],)
index = pd.Index(['Female', 'Male', 'Other / Non-Disclosed'])
purchase_df = purchase_df.set_index(index)
average = gen_df.mean()
total = gen_df.sum()
total_per_person = total / purchase_df['Purchase Count']
purchase_df['Average Purchase Price'] = average['Price']
purchase_df['Total Purchase Value'] = total['Price']
purchase_df['Avg Total Purchase per Person'] = average['Price'] / purchase_df['Purchase Count']
purchase_df['Average Purchase Price'] = purchase_df['Average Purchase Price'].map("${:.2f}".format)
purchase_df['Total Purchase Value'] = purchase_df['Total Purchase Value'].map("${:.2f}".format)
purchase_df['Avg Total Purchase per Person'] = purchase_df['Avg Total Purchase per Person'].map("${:.2f}".format)
purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$0.03
Male,652,$3.02,$1967.64,$0.00
Other / Non-Disclosed,15,$3.35,$50.19,$0.22

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [145]:
bins = [0,10,15,20,25,30,35,40,999]
groups = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

filter_df['Age Group'] = pd.cut(filter_df['Age'], bins, labels = groups, include_lowest=True)
age_group = filter_df.groupby(['Age Group'])
age_demo = age_group.count()
age_sum = age_demo.sum()
age_df = age_demo
age_df.rename(columns={'Purchase ID':'User Count'},inplace=True)
age_summary_df = age_df.drop(['SN','Age','Gender','Price','Item ID','Item Name'], axis = 1)
age_summary_df['% of Playerbase'] = age_summary_df['User Count'] / 576
age_summary_df['% of Playerbase'] = age_summary_df['% of Playerbase'].map('{:,.2%}'.format)
age_summary_df

<ipython-input-145-007cff430dac>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filter_df['Age Group'] = pd.cut(filter_df['Age'], bins, labels = groups, include_lowest=True)

           User Count % of Playerbase
Age Group
<10                24           4.17%
10-14              41           7.12%
15-19             150          26.04%
20-24             232          40.28%
25-29              59          10.24%
30-34              37           6.42%
35-39              26           4.51%
40+                 7           1.22%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [142]:
age_data = age_group['Purchase ID'].count()
data2 = [age_data[0], age_data[1], age_data[2], age_data[3], age_data[4], age_data[5], age_data[6], age_data[7]]
age_purchase_df = pd.DataFrame(data2,columns=['Purchase Count'],)
index2 = pd.Index(['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+'])
age_purchase_df = age_purchase_df.set_index(index2)
average = age_group.mean()
total = age_group.sum()
total_per_person = total / purchase_df['Purchase Count']
age_purchase_df['Average Purchase Price'] = average['Price']
age_purchase_df['Total Purchase Value'] = total['Price']
age_purchase_df['Avg Total Purchase per Person'] = age_purchase_df['Average Purchase Price'] / age_purchase_df['Purchase Count']
age_purchase_df['Average Purchase Price'] = age_purchase_df['Average Purchase Price'].map("${:.2f}".format)
age_purchase_df['Total Purchase Value'] = age_purchase_df['Total Purchase Value'].map("${:.2f}".format)
age_purchase_df['Avg Total Purchase per Person'] = age_purchase_df['Avg Total Purchase per Person'].map("${:.2f}".format)
age_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,24,$3.42,$82.18,$0.14
10-14,41,$2.94,$120.43,$0.07
15-19,150,$3.18,$476.84,$0.02
20-24,232,$3.02,$700.03,$0.01
25-29,59,$2.90,$171.02,$0.05
30-34,37,$3.00,$111.15,$0.08
35-39,26,$3.29,$85.47,$0.13
40+,7,$3.08,$21.53,$0.44

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [138]:
spend_df = purchase_data.loc[(purchase_data["SN"] == 'Lisosia93') | (purchase_data["SN"] == 'Idastidru52') | (purchase_data["SN"] == 'Chamjask73') | (purchase_data["SN"] == 'Iral74') | (purchase_data["SN"] == 'Iskadarya95'), :]
grouped_spend_df = spend_df.groupby(['SN'])
total_purchase = grouped_spend_df.count()
average_spent = grouped_spend_df['Price'].mean()
total_spent = grouped_spend_df['Price'].sum()
total_purchase["Average Purchase Price"] = average_spent
total_purchase["Total Purchase Value"] = total_spent
total_purchase.rename(columns={'Purchase ID':'Purchase Count'},inplace=True)
Spending_summary_df = total_purchase.drop(['Item Name','Age','Gender','Item ID','Price'], axis = 1)
Spending_summary_df = Spending_summary_df.sort_values('Total Purchase Value',ascending=False)
Spending_summary_df['Average Purchase Price'] = Spending_summary_df['Average Purchase Price'].map("${:.2f}".format)
Spending_summary_df['Total Purchase Value'] = Spending_summary_df['Total Purchase Value'].map("${:.2f}".format)
Spending_summary_df

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [133]:
spend_df = purchase_data.loc[(purchase_data["Item Name"] == 'Final Critic') | 
                             (purchase_data["Item Name"] == 'Oathbreaker, Last Hope of the Breaking Storm') | 
                             (purchase_data["Item Name"] == 'Fiery Glass Crusader') | 
                             (purchase_data["Item Name"] == 'Persuasion') | 
                             (purchase_data["Item Name"] == 'Extraction, Quickblade Of Trembling Hands'), :]
grouped_spend_df = spend_df.groupby(['Item ID','Item Name'])
total_purchase = grouped_spend_df.count()
average_spent = grouped_spend_df['Price'].mean()
total_spent = grouped_spend_df['Price'].sum()
total_purchase["Average Item Price"] = average_spent
total_purchase["Total Purchase Value"] = total_spent
total_purchase.rename(columns={'Purchase ID':'Purchase Count'},inplace=True)
Spending_summary_df = total_purchase.sort_values('Purchase Count',ascending=False)
Spending_summary_df = Spending_summary_df.drop(['SN','Age','Gender','Price'], axis = 1)
Spending_summary_df['Average Item Price'] = Spending_summary_df['Average Item Price'].map("${:.2f}".format)
Spending_summary_df['Total Purchase Value'] = Spending_summary_df['Total Purchase Value'].map("${:.2f}".format)
Spending_summary_df

,,Purchase Count,Average Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
132,Persuasion,9,$3.22,$28.99
145,Fiery Glass Crusader,9,$4.58,$41.22

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [134]:
Spending_summary_df = Spending_summary_df.sort_values('Total Purchase Value',ascending=False)
Spending_summary_df

,,Purchase Count,Average Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
132,Persuasion,9,$3.22,$28.99